body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-image: url("/images/ocean.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin: 20px;
}

.page-logo__link {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgb(104, 104, 104);
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  width: 250px;
  list-style: none;
  margin: 30px;
}

.navbar-list__item {
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
}

.navbar-list__item:hover {
  background-color: #ffec00;
  color: black;
}

.navbar-list__item__link {
  color: #ffec00;
  font-weight: 500;
  text-decoration: none;
}

.navbar-list__item__link:hover {
  transition: all 0.5s ease;
  color: black;
}

.main-container {
  width: 50%;
  padding: 30px 50px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  flex-direction: column;
  background-color: grey;
  
}

.main-container__title {
}
.main-container__text {
}

.main-container__button {
}
