body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: rgb(215, 166, 255);
}

.page-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  margin: 20px;
}

.page-logo__link {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 3px 3px 2px rgb(104, 104, 104);
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  width: 250px;
  list-style: none;
  padding: 10;
  background-color: aquamarine;
}

.navbar-list__item {

}
