* {
    font-family: Roboto, sans-serif;
    background-color: #c9dfe3;
}

.subtitle {
    text-align: center;
    color: #3F3636;
    font-weight: 600;
}

#challenge-link {
    display: block;
    margin: auto;
    width: 300px;
    text-align: center;
    color: #ffffff;
    background-color: #AB1647;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.list-container {
    text-align: center;
    list-style-type: none;
}

.list-items {
    color: #454244;
    margin-top: 10px;
}

.new-link {
    color: rgb(29, 79, 218);
    text-decoration: none;
}