* {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #E9D2C9;
}

.subtitle {
    text-align: center;
    color: #3F3636;
    font-weight: 600;
    margin: 20px 0 0 0;
}

#challenge-link {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    width: 20rem;
    color: #ffffff;
    background-color: #AB1647;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.list-container {
    display: grid;
    margin: auto;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    border-radius: 10px;
}

.list-container__items {
    color: #3F3636;
    margin-top: 10px;
    margin-bottom: 20px;
}

.list-container__title {
    width: 35rem;
    background-color: #e48570;
    padding: 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.list-container__text {
    width: 35rem;
    background-color: #e48570;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.new-link {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: aliceblue;
    background-color: rgb(29, 79, 218);
    padding: 15px;
    border-radius: 10px;
}