* {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #E3D2C9;
}

.container, #subtitle, #main-title {
    display: block;
    margin: auto;
    width: 80%;
    background-color: #E16B51;
    padding: 20px;
    color: #454244;
}

.title-img {
    width: 200px;
    height: 200px;
}

#subtitle {
    text-align: center;
}

#main-title {
    font-size: 60px;
    text-align: center;
}

.link-wrapper {
    text-align: center;
}

#new-link {
    color: #94243e;
    text-decoration: none;
}