* {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
}

body {
    background-color: #F4E5FF;
}

.main-title {
    margin-top: 40px;
    text-align: center;
    color: #5926C4;
}

.main-img {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.main-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px;
    background-color: #713BD6;
    color: #ffffff;
}

/* HTML Container */

.main-container__html-sum {
    margin-bottom: 40px;
}

.main-container__html-sum__title {
    margin-bottom: 20px;
}

.main-container__html-sum__text {
    margin-bottom: 10px;
}

.main-container__html-sum__desc {
    margin-top: 10px;
}

/* CSS Container */

.main-container__css-sum {
    margin-bottom: 40px;
}

.main-container__css-sum__title {
    margin-bottom: 20px;
}

.main-container__css-sum__text {
    margin-bottom: 10px;
}

.main-container__css-sum__desc {
    margin-top: 10px;
}